body{
    padding: 0;
    margin: 0;
    /* overflow-x: hidden;s */

}

a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none
}

ul, li, h1, h2, h3, h4, h5{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* --------------- /NavBar/-------------- */



.navBar{
    background: black;
    color: white;
    width: 200px;
    height: 100vh;
    position: fixed;
    text-align: center;
 
}


.logPic{
    margin: 20px auto;
    font-family: 'Fredericka the Great', cursive;
    position: relative;
}

.navLogo{
    width: 100px;
    height: 225px;
}
    .navLogo:hover{
        transform: scaleX(-1);
    }

.navLinks{
    font-family: 'Yeseva One', cursive;

    margin-top: 40px;
    font-size: 23px;
    line-height: 1.0;
}

.links:hover{
    color: green;
    cursor: pointer;
}

.contLinks{
    margin-top: 40px;
    font-family: 'Yeseva One', cursive;
}

.orderOnlineBtn{
    border: none;
    font-size: 20px;

}
.orderOnlineBtn:hover{
    color: green;
}


.orderIcons{
    width: 60px;
}

.grubHub{
    transition: transform .2s; 
    margin: 0 10px 10px 10px;    
}

.grubHub:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    border: 1px solid white;
    border-radius: 10px;
}

.doorDashIcon{
    border-radius: 10px;
    transition: transform .2s; 
    margin: 0 10px 10px 10px;
    
}

.doorDashIcon:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    border: 1px solid white;
    border-radius: 10px;
}

.socialMedia{
    position: absolute;
    top: 90%;
    width: 100%;
   
}

.socialMediaPics{
    width: 30px;
    margin: 10px;
}

.chat{
    transition: transform .2s;
}
    .chat:hover{
        -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    }


.twitter{
    transition: transform .2s;
}  
    .twitter:hover{
        -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    }


.insta{
    transition: transform .2s;
}  
    .insta:hover{
        -ms-transform: scale(1.2s); /* IE 9 */
    -webkit-transform: scale(1.2s); /* Safari 3-8 */
    transform: scale(1.2);
    }

.navAddress{
    font-family: 'Yeseva One', cursive;
}
/* --------------- /NavBar END/-------------- */



#mainPage{
    background-image: url(./assets/sitesPics/TopSection/lavi-perchik-724455-unsplash.jpg);
    margin-left: 200px;
    position: relative; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  
}

#SicVsReg{
    margin-left: 200px;
    height: 500px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}


/*------------ MENU PAGE  -----------*/
#menuPage{
    margin-left: 200px;
    min-height: 100vh;
    border-bottom: 2px solid black;
}

.optionsSize>p{
    display: block;
}
    .firstRowSmall{
     
        position: absolute;
        right: 8%;
        top: 0px;
        line-height: 32px;
        font-weight: bold;
    }
    .secondRowLarger{
        position: absolute;
        right: 0px;
        top: 0px;
        line-height: 32px;
        font-weight: bold;
    }

.menuPageDiv{
    padding: 40px 40px 0 40px;
}

.menuLinks{
    padding: 30px;
    background: rgba(255, 255, 255, 0.644);
    border-radius: 8px;

}
.menu-links{
    color: black;
    position: relative;
    display: block;
    font-size: 30px;
    padding: 14px 30px 0px 0;
    border-bottom: 2px solid black;
    font-weight: bold;
    font-family: 'Yeseva One', cursive;
}
    .menu-links:hover{
        color: green;
    }

    .menu-links::after{
        content: "+";
        right: 0px;
        display: inline-block;
        position: absolute;
        /* font-weight: 700;
        font-size: 30px; */
        /* font-family: 'Yeseva One', cursive; */
    }

.Options{
    display: none;
    margin-top: 10px;
}
    .topItems{
        border: 1px solid black;
    }
    .Options ul li {
        margin: 0 0 20px 0;
        position: relative;
        line-height: 18px;
    
    }
    .priceFirstRow{
        position: absolute;
        right: 8%;
        top: 0px;
        line-height: 32px;
        font-weight: bold;
    }
        /* .TopItemSmall{
        padding-top: 20px;
        }
        .TopItemSmall::before{
            content: "Small";
            position: relative;
            top: -30px;
            left: 35px;

            font-size: 14px;
        } */
    .priceSecondRow {
        position: absolute;
        right: 0px;
        top: 0px;
        line-height: 32px;
        font-weight: bold;
    }
        /* .TopItemSmallLarge{
        padding-top: 20px;

        }
        .TopItemSmallLarge::before{
            content: "Large";
            position: relative;
            top: -30px;
            left: 35px;
            font-size: 14px;
        } */
    .itemsDescription{
        font-size: 20px;
        line-height: 15px;
    }


.carwithPics{
    width: 500px;
    margin: 0 auto;
}

.toppings{
    margin-top: 20px;
    text-align: center;
}
/*------------ MENU END  -----------*/




/* ------------Photo Page ----------------- */
#photosPage{
    min-height: 100vh;
    margin-left: 200px;
}
/* ------------Photo END ----------------- */





/* ------------Contact Page ----------------- */

#contactUsPage{
    min-height: 100vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
/* ------------Contact END ----------------- */




/* ------------Footer Page ----------------- */
footer{
    margin-left: 200px;
    padding: 5px;
    /* width: 100%; */
    background: black;
    color: white;
    text-align: center;
}
/* ------------Footer END ----------------- */
